.item-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  background: var(--card-bg);

  padding: 1rem;
  border-radius: 0.5rem;
}

.main-area {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  .row {
    display: flex;
    gap: 0.5rem;
  }

  .first {
    align-items: center;

    .label {
      font-size: 1rem;
      font-weight: 500;
      height: 1.5rem;
      width: 100%;
      overflow-x: auto;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  .second {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    .buttons {
      button {
        height: 2rem;
        width: 2rem;
      }
    }
  }

  .date {
    color: var(--text-gray);
    font-size: 0.9rem;
    font-weight: 500;
  }
}
