.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  width: 100%;
  padding: 0.5rem;
  border-top: solid 1px rgb(from var(--text) r g b / 0.5);
  margin-top: auto;

  .icons {
    display: flex;
    justify-content: space-evenly;
    width: 10rem;
  }
}
