.qr-container {
  display: flex;
  flex-direction: column;
  height: 10rem;
  align-items: center;
  border-radius: 1rem;
}

.qr-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  .buttons {
    gap: 2rem;

    button {
      width: 40%;
      max-width: 10rem;
    }
  }
}

.big {
  .qr-wrapper {
    flex-direction: column;
    height: 20rem;

    .buttons {
      flex-direction: row;
      width: 100%;

      button {
        max-width: 10rem;
        width: 40%;
      }
    }

    #qrcode {
      width: 12rem;
      height: 12rem;
    }
  }
}

.small {
  .qr-wrapper {
    height: 16rem;

    .buttons {
      justify-content: center;
      align-items: center;
      flex-direction: column;

      button {
        width: 10rem;
      }
    }

    #qrcode {
      width: 8rem;
      height: 8rem;
    }
  }
}

#qrcode {
  border-radius: 0.5rem;
}

#qr-container.card-container.down.open {
  padding-top: 4rem;

  &.small {
    transform: translateY(-21rem);
  }

  &.big {
    transform: translateY(-36rem);
  }
}
