.qr-container {
  display: flex;
  flex-direction: column;
  height: 10rem;
  align-items: center;
  border-radius: 1rem;
}

.qr-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.big {
  .qr-wrapper {
    flex-direction: column;
    height: 20rem;

    .buttons {
      flex-direction: row;
    }

    #qrcode {
      width: 12rem;
      height: 12rem;
    }
  }
}

.small {
  .qr-wrapper {
    height: 16rem;

    .buttons {
      flex-direction: column;
    }

    #qrcode {
      width: 8rem;
      height: 8rem;
    }
  }
}

#qrcode {
  border-radius: 0.5rem;
}

#qr-container.card-container.down.open {
  padding-top: 4rem;

  &.small {
    transform: translateY(-20rem);
  }

  &.big {
    transform: translateY(-35rem);
  }
}
