.user-page {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (max-width: 768px) {
    margin: 2rem 0;
  }

  .user-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 100%;

    @media screen and (max-width: 768px) {
      width: 90%;
    }
  }
}
