.container-qr {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  width: 20rem;
  max-width: 50rem;
  border: solid 1px blue;
  border-radius: 1rem;
}

.buttons-qr {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  border: solid 1px yellow;
}
