.qr-container {
  display: flex;
  flex-direction: column;
  height: 10rem;
  align-items: center;
  border-radius: 1rem;
}

.qr-wrapper {
  display: flex;
  height: 8rem;
  justify-content: space-around;
  align-items: center;

  .buttons {
    flex-direction: column;
  }

  svg {
    border-radius: 0.5rem;
  }
}
