@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.modal-page {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
  animation: fade 0.3s ease-in-out;
  color: var(--text);
}

.modal-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: fit-content;
  gap: 1rem;
  border-radius: 1rem;
  background: var(--card-bg);

  .content {
    display: flex;
    justify-content: center;
    height: fit-content;
    width: fit-content;
  }
}
