.sign-label.up {
  height: 4rem;
}

.sign-label.up.close {
  height: 4rem;
  padding-top: 0rem;
  z-index: 1;
  border-radius: 0 0 70% 70%;
  background: var(--secondary);

  &:hover {
    background: var(--primary);
  }
}
