.shorten-wrapper {
  display: flex;
  flex-direction: column;
  padding: 2.5rem 1rem;
  gap: 2rem;

  @media screen and (min-width: 768px) {
    padding: 2.5rem;
  }

  .buttons {
    gap: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media screen and (min-width: 768px) {
      margin-top: 1rem;
      flex-direction: row;
      gap: 0;
    }

    .buttons-row {
      display: flex;
      gap: 1rem;
      width: 100%;
      justify-content: space-evenly;

      button {
        width: 40%;
        max-width: 10rem;
      }
    }
  }
}

.shorten-url {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 100%;
  text-decoration: none;
  border-radius: 0.5rem;
  background: var(--secondary);
  color: var(--text);
  overflow: hidden;
  position: relative;

  &:hover {
    background: var(--primary);

    .redirect-icon {
      transform: translatex(0);
    }

    .redirect-url {
      font-size: 1.1rem;
    }
  }
}

.redirect-icon {
  width: 2rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 0 50% 50% 0;
  background: var(--icon-bg);
  transform: translatex(-2rem);
  transition: all 0.25s ease-in-out;
  z-index: 1;
}

.redirect-url {
  transition: all 0.25s ease-in-out;
}
