.redirect-page {
  display: flex;
  justify-content: center;
  align-items: center;

  .protected-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90vw;
    gap: 2rem;

    svg {
      height: fit-content;
      max-height: 25rem;
    }

    form {
      width: 100%;
      max-width: 30rem;

      input {
        margin: 0;
      }
    }
  }
}
