.url-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 20rem;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  background: rgb(from var(--primary) r g b / 0.8);

  &:hover {
    background: var(--primary);

    .url-icon {
      transform: translatex(0);
    }

    .url-text {
      font-size: 1.1rem;
    }
  }
}

.url-icon {
  width: 2rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 0 50% 50% 0;
  background: var(--icon-bg);
  transform: translatex(-2rem);
  transition: all 0.25s ease-in-out;
  z-index: 1;
}

.url-text {
  transition: all 0.25s ease-in-out;
  font-weight: bold;
}
