.url-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 50%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  background: rgb(from var(--primary) r g b / 0.8);
  min-width: 15rem;

  &:hover {
    background: var(--primary);

    .url-icon {
      transform: translatex(0);
    }

    .url-text {
      font-size: 1.1rem;
    }
  }

  @media screen and (min-width: 1024px) {
    font-size: 1.5rem;
    height: 4rem;

    &:hover {
      .url-text {
        font-size: 2rem;
      }
    }
  }
}

.url-icon {
  width: 2.5rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 0 50% 50% 0;
  background: var(--icon-bg);
  transform: translatex(-2.5rem);
  transition: all 0.25s ease-in-out;
  z-index: 1;
}

.url-text {
  transition: all 0.25s ease-in-out;
  font-weight: bold;
}
