.home-page {
  display: flex;
  justify-content: center;
  align-items: center;

  .home-wrapper {
    display: flex;
    flex-direction: column;
    width: 90vw;
    margin: 5rem 0;
    gap: 3rem;

    @media screen and (min-width: 1024px) {
      gap: 5rem;
    }
  }
}
