@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body {
  margin: 0;
  font-family: "Inter", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

:root[data-theme="light"] {
  --text: rgb(6, 9, 6);
  --background: rgb(245, 250, 245);
  --primary: rgb(73, 202, 73);
  --secondary: rgb(142, 236, 142);
  --accent: rgb(78, 244, 78);

  --card-bg: rgb(210, 241, 210);
  --input-bg: rgb(from var(--text) r g b / 0.1);
  --title: rgb(50, 120, 50);
  --text-gray: rgb(from var(--text) r g b / 0.6);
}
:root[data-theme="dark"] {
  --text: rgb(246, 249, 246);
  --background: rgb(7, 14, 7);
  --primary: rgb(53, 182, 53);
  --secondary: rgb(19, 114, 19);
  --accent: rgb(11, 177, 11);

  --card-bg: rgb(11, 33, 11);
  --input-bg: rgb(from var(--text) r g b / 0.6);
  --title: rgb(50, 200, 50);
  --text-gray: rgb(from var(--text) r g b / 0.6);
}
