.profile-bar-container {
  width: 100%;
  text-align: center;
  padding: 1rem;
  border-radius: 0.5rem;
  background: var(--card-bg);

  .title-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    .icon {
      position: absolute;
      right: 0;
      top: 0;

      &:hover {
        cursor: pointer;
      }
    }

    .title {
      font-size: 1.5rem;
      font-weight: 600;
      line-height: 2rem;
    }
  }

  .subtitle {
    font-size: 1rem;
    font-weight: 500;
    line-height: 2rem;
    color: var(--text-gray);
  }
}
