.sign-page {
  overflow: hidden;
  height: 38rem;
  width: 90%;
  margin: auto;
  border-radius: 1rem;

  .icons {
    display: flex;
    width: 80%;
    justify-content: space-evenly;
    margin: 1rem auto;
  }
}
